<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Mega Sena - Smart Combinador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="app">
        <h1>Smart Combinador Mega Sena</h1>
        <p>[[ message ]]</p>
        <button @click="testarVue">Clique aqui para testar Vue</button>
        <div>[[ resultado ]]</div>
    </div>
    <!-- Vue.js via CDN -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
